* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #67676d, #9333ea);
  display: flex;
  align-items: center;
  justify-content: center;
}
